<div class="container">
  <div class= "row">
    <div class="col-lg-6 mx-auto">
      <div class="card card border-primary mt-2">
        <div class="card-header text-center">
          <h4>select seat</h4>
        </div>
        <div class="card-body ">
          <div class="container">
            <% @seats.each do |seat|%>
              
                <%= seat.seat_no %>
             
            <% end %>
          </div>
          <div>
           
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

