<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BookMyShow</a>
    <a class="me-auto navbar-brand"> Movies</a>
    
    <% if customer_signed_in? %>
      <a class="nav-link active text-dark me-auto" aria-current="page" href="#"><i class="fa fa-user-circle" aria-hidden="true"></i> <%= current_customer.email %></a>
      <h5 class="d-flex ms-auto order-5"> <%= link_to "logout",destroy_customer_session_path, data: { turbo_method: :delete },class:"dropdown-item"  %>
      </h5>
    <% end %>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search Movies" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>